.page {
  display: flex;
  height: 100vh;
}

.sk-editor {
  height: 100%;
  flex-grow: 1;
}

.sk-editor > .sk-editor-content, .sk-editor > .sk-editor-content > div {
  height: 100%;
}
.preview {
  padding: 10px;
  background-color: black;
  color: wheat;
  height: 100%;
  width: 50%;
}

.preview p {
  font-size: 10px;
  white-space: pre-wrap;
  font-family: 'monaco';
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}